<!DOCTYPE html>
<% i18n.setLocale(idioma); %>
<html lang="<%= idioma %>">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Podemos - <%= medida.titulo %></title>
	<meta property="og:title" content="Podemos - <%= medida.titulo %>" />
	<meta property="og:description" content="<%= medida.descripcion_text %>" />
	<meta property="og:image" content="http://lasonrisadeunpais.es/wp-content/plugins/programa/data/meta-programa.png" />
	<meta property="og:image:type" content="image/png" />
	<meta property="og:image:width" content="600" />
	<meta property="og:image:height" content="315" />
</head>
 
<body>
	<script type="text/javascript">
		var url_base = '/<%= idioma %>/programa/?medida=<%= medida.num %>';
		window.location = url_base;
	</script>
	<img src="http://lasonrisadeunpais.es/wp-content/plugins/programa/data/meta-programa.png" alt="Programa PODEMOS" />
	<h1><%= medida.titulo %></h1>
	<div>
		<%- medida.descripcion %>
	</div>
</body>
 
</html>
